.app {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.imageBg {
  width: 80%;
  background-image: url('img/mainBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
